[mysqld]
default_authentication_plugin=mysql_native_password
performance_schema=off
general_log=1
general_log_file=/var/log/mysql/general-query.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-query.log
long_query_time=0.1

[client]
default-character-set=utf8mb4
